<div class="row">

  <div class="col-xl-5 col-md-8">

    <div class="bg-white mt-4 rounded-5 shadow-5-strong p-5">
      <h2 class="mb-3">Enter Emailed Code</h2>

      <p>
        Please check your email for your login code (valid for up to 30 minutes).
      </p>
      <p >
        If you do not receive please check your spam folder,
        or contact 9b for tech support.
      </p>

      <form action="/users/magic_link">
        <div class="form-outline" data-mdb-input-init>
          <input type="text" name="user[token]" class="form-control" placeholder="xxxxxx"/>
          <input type="hidden" name="user[email]" value="<%= @user_email %>">
          <label class="form-label" for="form12">Login Code</label>
        </div>
        <button type="submit" class="btn btn-primary d-block mt-3 btn-lg w-100">Login</button>
      </form>
    </div>
  </div>
</div>