<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="roster_people">
  <%# @roster_people.each do |roster_person| %>
    <%#= render roster_person %>
<!--    <p>-->
      <%#= link_to "Show this person", roster_person %>
<!--    </p>-->
  <%# end %>
</div>